{% extends 'base.html.twig' %}

{% block title %}Clients {{ parent() }}{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <a href="{{ path('customer_create') }}" class="btn btn-primary">Ajouter</a>

    <ul>
        {% for customer in customers %}
            <li>
                <a href="{{ path('customer_show', {'id': customer.id}) }}">
                    {{ customer.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
