{% extends 'base.html.twig' %}

{% block title %}{{ customer.name }} {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ customer.name }}</h1>
    <p>Date de création : {{ customer.createdAt|date('d/m/Y') }}</p>
{% endblock %}

